*{
    box-sizing: border-box; 
  
}

.container{
    border:4px solid lightgray;
    padding: 24px 24px 0 24px;
    
}

.title{

    border: 4px solid red;
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
}
.box{
    border: 4px solid lightgray;
    height: 100px;
    width: 30%;
    margin-bottom: 24px;
    
}



.box-wrapper{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.row{

    width: 100%;
    max-width: 600px;
    margin: auto;
}