@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;

}

header{

    background-color: #eadcff;
    height: calc(100vh-70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subheader{
    font-size: 36px;
    margin: 16px 0 24px 0;

}

button{
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

h1{
    font-size: 72px;
}
a {
    color: black;
    font-size: 24px;
    font-weight: 700;
}
.logo{

    width: 300px;

}

ul{

    display: flex;
}

li{
    list-style-type:none;
    padding-left: 16px;
}

.row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;


}

#about , #discord , #contact , footer{

    padding:48px 0;
    background-color: #f8ffdc;

}

h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section_des{

    display: flex;
    justify-content: center;
    align-items: center;
}


.about_img--wrapper{
    margin-right: 24px;
    width: 40%;
    padding: 0 24px;
}

img{
    width: 100%;
}

.section_des-wrapper{

    width: 60%;
    padding: 0 24px;

}

.section_des--para{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}


#discord{

    background-color: #cefeff;


}


#contact{

    background-color:  #dce9ff; ;

}

form{
    width:100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}


input,textarea{
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px ;
}

footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items:center;

}

.footer-logo{

    max-width: 480px;
}

.footer-links{
    margin-bottom: 32px;
}

.footer-link{

    padding: 0 16px;
}
 /*small phones , tablets m karfe snmaortphones*/

@media(max-width:728px){
    .row{
        flex-direction: column;
    }

    .home-descrption{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .home-descrption--button{

        max-width: 240px;
    }

    h1{
        text-align: center;
        font-size: 50px;

    }

    .subheader{

        text-align: center;
        font-size: 28px;

    }


    ul{

        display: none;
    }


    .section_des{
        flex-direction: column;
    }

    .section_des-wrapper{
        width: 100%;
    }

    .about_img--wrapper{
        width: 100%;
    }
    
    #discord .section_des{
        flex-direction: column-reverse;
    }

    footer{
       padding:  48px 24px;
    }

    .footer-logo{
        max-width: 350px ;

    }

    .footer-link{
        padding: 0 4px;
        font-size: 18px;
    }

    .footer-links{
        margin-bottom: 24px;
    }
}